body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: rgb(55, 54, 54);
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: rgb(255, 255, 255);

}
.container{
    width: 100%;
    max-width: 720px;
    padding: 0 20px ;
    margin: 0 auto;

}
section.module p{
    margin-bottom: 40px;
    
}
section.module:last-child{
    margin-bottom: 0%;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;

}
section.module.content{
    padding: 40px 0;
    background-color: #f5f5ff;

}
section.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important ;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    

}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 40%, #060026 100%);
}
section.module.parallax-1{
    background-image: url(conteudos/Jesus\ connected\ \(1\).jpg)

}
section.module.parallax-2{
    background-image: url(conteudos/Jesus\ connected\ \(2\).jpg);


}
section.module.parallax h1{
    color: #ffffff;
    text-align: center;
    font-size: 78px;
    z-index: 0;

}
