*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    padding: 30px;

}
.container{
    width:100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;

}
#toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: black;
    position: absolute;
    right: 0;
    border-radius: 20%;
    outline: none;
    cursor: pointer;


}
#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffff;
    top:5px;
    left:5px;
    border-radius: 50%;
    

}

